*{
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
}
input{
    margin-right: 20px;
    margin-left: 20px;
}


.flex{
    display: flex;
}

.Status{
    width: 100%;
    height: 50px;
}



.divbutton{
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.divbuttonIMG{
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.choiceDiv{
    justify-content: center;
    justify-content: space-around;

}
.imageClass{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.rock{
    background: url('image/rock.png') no-repeat;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border: none;
}
.rock:hover{
    background: url('image/rockHover.png') no-repeat;
    width: 300px;
    height: 300px;
}

.scissors{
    background: url('image/scissors.png') no-repeat;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border: none;
}
.scissors:hover{
    background: url('image/scissorsHover.png') no-repeat;
}
.paper{
    background: url('image/paper.png') no-repeat;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border: none;
}
.paper:hover{
    background: url('image/paperHover.png') no-repeat;
}
